* {
    background-color: white;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pass {
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3{
    text-align: center;
    margin-top: 5rem;
    color: rgb(16, 216, 149);
}

#pass ul {
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;

}

li {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
}

#new-pass, #confirm-pass {
    text-align: center;
    width: 400px;
    height: 30px;
    border-radius: 30px;
}

label{
    color: cadetblue;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

#message {
    color: rgb(177, 19, 19);
    font-weight: bold;
    display: none;
}

button{
    color: cadetblue;
    width: 200px;
    height: 30px;
    font-weight: bold;
    border-radius: 10px;
    border-style:double;
    background-color: rgb(40, 121, 94);
}

button:hover{
    color: rgb(85, 223, 228);
}

input[type="text"]{
    box-sizing: border-box;
}