* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eac2616f-9ca4-4a89-84d5-7bbc482fb1b2/df2dmoo-3403837f-2435-4c6b-9bd6-b82891aabe2d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VhYzI2MTZmLTljYTQtNGE4OS04NGQ1LTdiYmM0ODJmYjFiMlwvZGYyZG1vby0zNDAzODM3Zi0yNDM1LTRjNmItOWJkNi1iODI4OTFhYWJlMmQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Rn4fVOkXvtPjkkBt7uBdxdZlFvRpqVNg3TBuhnr5R_E"); */
}

/* body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eac2616f-9ca4-4a89-84d5-7bbc482fb1b2/df2dmoo-3403837f-2435-4c6b-9bd6-b82891aabe2d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VhYzI2MTZmLTljYTQtNGE4OS04NGQ1LTdiYmM0ODJmYjFiMlwvZGYyZG1vby0zNDAzODM3Zi0yNDM1LTRjNmItOWJkNi1iODI4OTFhYWJlMmQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Rn4fVOkXvtPjkkBt7uBdxdZlFvRpqVNg3TBuhnr5R_E");
} */

#top {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 6rem;
    color: rgb(212, 32, 32);
}

#reset{
    text-align: center;
}


input[type=text]{
    margin-bottom: 10px;
    width: 600px;
    height:45px;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgb(108, 87, 199);
    font-size: 17px;
    border-radius: 10px;
    border-color: #1d9fb6;
    cursor:pointer;
    padding: 0px 10px 0px;
    outline: 0;
    border-width: 3px;
    font-weight: bold;
}

input[type=text]:hover{
    background-color: rgb(231, 175, 90);
}

#send {
    margin-bottom: 10px;
    width: 300px;
    height:40px;
    background-color: rgba(255, 255, 255, 0.03);
    color: rgb(212, 32, 32);
    font-size: 17px;
    border-radius: 10px;
    border-color: #1d9fb6;
    cursor:pointer;
    padding: 0px 10px 0px;
    outline: 0;
    border-width: 3px;
    font-weight: bold;
}

#send:hover{
    background-color: rgb(231, 175, 90);
}

#message{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #1ac9e0;
}

#message {
    display: none;
}